.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
}

.mat-sidenav-content {
  flex-grow: 1;
}

.toggle-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}
