<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <!-- Company Info -->
    <div class="brand">
      <h4>Call Center Solutions</h4>
      <p>Your Trusted Partner in Customer Engagement</p>
    </div>

    <!-- Quick Links -->
    <div class="links">
      <h5>Quick Links</h5>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="contact-info">
      <h5>Contact Us</h5>
      <p>Email: <a href="mailto:info@unifynetworkllc.us">info&#64;unifynetworkllc.us</a></p>
      <p>Phone: <a href="tel:+1234567890">+1 (234) 567-890</a></p>
      <p>Address: 1001 S Main ST STE 600 Kalispell, MT 59901</p>
    </div>

    <!-- Social Media -->
    <div class="social-media-container">
      <h5>Follow Us</h5>
      <div class="social-media">
        <a href="#" target="_blank" class="social-icon">
          <mat-icon>facebook</mat-icon>
        </a>
        <a href="#" target="_blank" class="social-icon">
          <mat-icon>linkedin</mat-icon>
        </a>
        <a href="#" target="_blank" class="social-icon">
          <mat-icon>twitter</mat-icon>
        </a>
        <a href="#" target="_blank" class="social-icon">
          <mat-icon>instagram</mat-icon>
        </a>
      </div>
    </div>
  </div>


  <!-- Copyright -->
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} Call Center Solutions. All Rights Reserved.</p>
  </div>
</footer>
